<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-5x"></i>
    <h4 class="display-4 secret-heading">Don't keep your secrets, share them anonymously!</h4>
      <% usersWithSecret.forEach(function(user){ %>
        <% user.secret.forEach(function(secret){ %>
        <p class="card secret-text"><%= secret %></p>
        <% }) %>
      <% }) %>
    <hr>
  </div>
</div>

</body>
<footer>
  <a class="btn btn-light btn-lg btn-text" href="/logout" role="button">Log Out</a>
  <a class="btn btn-dark btn-lg btn-text" href="/submit" role="button">Post Your Secret</a>
</footer>
</html>

<!-- <%- //include('partials/footer') %> -->
